.topbar{height: 35px; background-color: #fafafa;border-bottom: 1px solid #dfdfdf;}
.container{width: 930px; margin: 0 auto;}
.topbar-nav,.topbar-login{height: 36px;padding: 12px 0;}
.topbar-nav a{ padding-right:16px; border-right: 1px solid #dfdfdf; margin-right:12px; }
.topbar .last{border: none;}
.topbar-login a{padding-left:15px; border-left: 1px solid #8c8c8c; margin-left: 15px;}
.header{height: 70px; padding: 25px 0 15px 0;}
.logo h1{width:70px; height: 70px; background: url("../img/logo.jpg") no-repeat;text-indent: -999px;}
.info{width: 560px;}
.info .clock{width: 560px;text-align:right;}
.clock img{margin-right: 3px;}
.search-form{margin-top: 13px;}
.search-text{width: 383px; height: 38px; border:1px solid #dfdfdf;}
.search{width: 39px;height: 40px;border: 1px solid #dfdfdf;background: url("../img/search.png")no-repeat center;}
.search-form .search{border-left: none;}
.shop{width: 126px; height: 40px;background: url("../img/shop.png") no-repeat 30px center #ffdb3d;margin-left: 10px; border: none;}
.navbar{width:248px;height: 642px; }
.nav-category{width: 208px; height:28px;line-height:28px; padding:11px 20px;background-color: #ff4a00; }
.nav-category .all-category{font-size: 18px;color: #ffffff;}
.nav-category-item{width:206px;height: 35px;padding:19px 20px;line-height:22px;border: 1px solid #dfdfdf;border-top: none;}
.shop-category{color: #ff4a00;}
.shop-category-item{margin-right: 7px;color: #6d6d6d;}
.nav-main{width: 682px; height: 50px;background-color: #404144;}
.nav-main-top{width: 682px;height:50px; }
.nav-main-item a{display: block;font-size:16px;padding: 16px 10px;color: #ffffff;}
.nav-main-item a:hover{background-color: #ff4a00;}
.nav-main-mid{width: 682px;height: 420px;}
.nav-main-bot{width: 681px;height: 171px;border: 1px solid #dfdfdf;border-left: none;}
.nav-bot-one{width: 194px;height:153px;line-height: 22px;padding:18px 0 0 33px;background: url("../img/hmNote.jpg") no-repeat center bottom #f3f3f3;}
.nav-bot-two{width: 193px;height:153px;line-height: 22px;padding:18px 0 0 33px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;background: url("../img/xiaomi.jpg") no-repeat center bottom #f3f3f3;}
.nav-bot-three{width: 193px;height:153px;line-height: 22px;padding:18px 0 0 33px;background: url("../img/dianshi.jpg") no-repeat center bottom #f3f3f3;}
.nav-bot-tit{font-size: 16px;font-weight: bold;}
.nav-bot-con{color: #949494;text-indent: 1em;}
.star{height: 370px;clear: both;}
.all-tit{width:930px;height: 16px;padding: 26px 0 16px 0;color: #333333;} /*所有的标题宽高一样*/
.all-tit-con{font-size: 16px;font-weight:bold;}/*所有的标题样式一样*/
.star-con span{font-size:12px;font-weight: normal; color:#6d6d6d;}
.star-ex a{display: block;width:28px;height: 18px;border: 1px solid #dfdfdf;}
.star-ex .last-page{background: url("../img/last.png")no-repeat center;}
.star-ex .next-page{background: url("../img/next.png")no-repeat center;border-left: none;}
.star-list{width: 928px;height: 306px;border: 1px solid #dfdfdf;}
.star-list div{width:309px;height: 306px;border-right: 1px solid #dfdfdf;text-align: center;line-height: 22px;}
.star-list .star-three{width: 308px;border-right: none;}
.star-list-tit{font-size: 16px;color: #370000;margin-top: 12px;}
.more{color: #333333;}
.new-product-main{width:928px;height: 928px;border: 1px solid #dfdfdf;}
.new-product-left{width: 619px;height:928px;border-right: 1px solid #dfdfdf;}
.new-product-right{width:308px;height: 928px;background-color: #fafafa; }
.product-top{width:591px;height: 249px;padding:60px 0 0 28px;border-bottom: 1px solid #dfdfdf;background: url("../img/new-1.jpg")no-repeat 260px 86px;}
.product-top h3{font-size: 34px;font-weight: bold;line-height: 45px;}
.product-top p{font-size: 14px;color: #9d9d9d;line-height: 37px;}
.product-top span{font-size: 20px;color: #2f2f2f;margin-top:28px; }
.product-main-left{clear:both;width: 309px; height:918px; }
.main-left-1,.main-right-2{width:279px;height: 278px;padding:30px 0 0 30px;border-bottom: 1px solid #dfdfdf;border-right: 1px solid #dfdfdf;}
.main-right-1{ width: 310px;height: 154px;border-bottom: 1px solid #dfdfdf;}
.main-right-2{border-right: none;}
.main-right-1 .product-tit{margin: 32px 0 0 32px;}
.last{border-bottom: none;}
.product-right-2{border: none;}
.product-right-1{width:272px;height: 100px;border-bottom: 1px solid #dfdfdf; padding: 13px  18px;}
.product-right-1 .product-tit{margin-top: 15px;font-size: 17px;color: #333333;}
.product-right-1 span{color: #6d6d6d;}
.product-right-2{width: 248px;height: 219px;padding:30px;border-bottom: 1px solid #dfdfdf;}
.product-right-3{width: 248px;height: 208px;padding: 30px;}
.product-right-2 input{width: 246px; height: 38px;border: 1px solid #dfdfdf;margin-bottom: 10px;}
.text1{margin-top: 15px;}
.text3{font-size: 12px;padding: 12px 0 21px 0;color: #6d6d6d;}
.product-right-2 i{font-size:13px; }
.text4{width: 248px;height: 40px;font-size:14px;background-color: #dcdee4;line-height: 40px; text-align: center;color: #fff;}
.product-right-3 ul{margin-top: 10px;width: 248px;}
.product-right-3 li{height: 45px;width: 240px;line-height:45px;list-style: square;border-bottom: 1px solid #dfdfdf;}
.product-right-3 .last{border-bottom: none;}
.all-like-main{width: 928px;height: 618px;border: 1px solid #dfdfdf;}
.like-main-left{width: 620px;height: 617px;}
.like-left-top{height: 292px;border-right: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;padding: 16px 30px 0 30px;}
.like-top-con .tit{font-size: 30px;font-weight: bold;margin-top: 45px;padding-left:0;color: #333333;}
.like-top-con .con{font-size: 14px;color: #6d6d6d;margin: 20px 0 28px 0;}
.like-top-con h4{font-size: 22px;color: #343434;}
.like-bot-con{width: 249px;height: 243px;padding: 33px 30px;border-right: 1px solid #cccccc;font-size: 12px;line-height: 22px;}
.like-main-right{width: 307px;height: 617px;}
.like-main-right li{width: 247px;height: 62px;border-bottom: 1px solid #dfdfdf;padding: 20px 30px;line-height: 63px;}
.list-1 span{font-size: 18px;color: #ff4a00;margin-right: 3px;}
.list-1 h2{font-size: 24px;font-weight: bold;}
.list span{font-size: 29px;color: #ff4a00;font-weight: bold;margin-right: 15px;}
.list .spec{color: #6d6d6d;}
.list .main {margin-top: 8px;line-height: 20px;}
.main a{color: #333333;font-size: 12px;}
.like-main-right .last{border-bottom: none;}
.hot-comment-main{width: 928px;height: 410px;border: 1px solid #dfdfdf;}
.hot-comment-con{width:289px;height:390px;border-right: 1px solid #dfdfdf;padding: 10px; }
.hot-comment-con1{width: 288px; height: 390px;padding: 10px;}
.tit{width: 236px;height: 23px;padding-left:22px;padding-top: 25px;}
.price{padding-left: 22px;margin-bottom: 15px;}
.hot-comment-main img,.off-price-main img ,.read-book-main img{padding-left: 30px;}
.evaluate{width: 259px;height: 36px;background-color: #f3f3f3;padding: 10px 15px;color:#6d6d6d;margin-top: 10px;  }
.off-price-main{width: 928px;height: 309px;border: 1px solid #dfdfdf;}
.off-price-con{width: 309px;height: 308px;border-right: 1px solid #dfdfdf;}
.read-book-main{width: 928px;height: 410px;border: 1px solid #dfdfdf;}
.read-book-con{width: 289px;height: 390px;border-right: 1px solid #dfdfdf;padding: 10px;}
.read-book-con1{width: 288px;height: 390px;padding: 10px;}
.MIUI-theme-main{width: 928px;height: 335px;border: 1px solid #dfdfdf;margin-bottom: 65px;}
.MIUI-theme-con{width: 249px;height: 335px;border-right: 1px solid #dfdfdf;padding: 0 30px;}
.MIUI-theme-con1{width: 248px;height: 335px;padding: 0 30px;}
.MIUI-theme-main .tit,.MIUI-theme-main .price{padding-left: 0;}
.MIUI-theme-main img{width: 250px;height: 220px;}
.footer{height: 535px;background-color: #fafafa;}
.list-service{width:930px;height: 64px;border-bottom: 1px solid #dfdfdf;padding: 45px 0;}
.list-service li{width: 20%;height: 100%;text-align: center;line-height: 45px;}
.list-item{display: block;font-size: 15px;}
.list-item:hover{color: #ff4a00;}
.list-service1{width: 930px;height:108px; padding: 45px 0;border-bottom: 1px solid #dfdfdf;}
.list-service-con{width: 129px;height: 108px;border-right: 1px solid #dfdfdf;padding-left: 20px;}
.list-service1 dt{font-size:18px;margin-bottom: 8px;}
.list-service1 dd{height: 25px;line-height: 25px;color:#6d6d6d;}
.list-service-con1{padding-left:35px;border-right: none;}
.tel-num{font-size: 18px;font-weight: bold;color: #000;}
.cus-service{display: block;margin-top:23px;width: 120px;height: 25px;text-align: center;line-height: 25px;color: #fff;background-color: #ff4a00;}
.footer-info{margin-top: 39px;}
.info-text a{padding: 0 3px;color: #000;}
.info-sites{margin: 8px 0 25px 0;}
.lang-select{width:198px;height: 38px;border: 1px solid #dfdfdf;color: #8c8c8c;}
