.home{
    position: relative;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 800px;
}
.top{
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    left: 0;
    top:0;
    z-index: 9;
}
.header_nav{
    width: 100%;
    position: absolute;
    right: 0;
    top: -60px;
    background: rgba(9,9,9,0.3);
}
.header_nav li{
    width: 20%;
    float: left;
    text-align: center;
}
.header_nav li a{
    width: 95%;
    margin: 0 auto;
    float: left;
    color: #fbf0ff;
    font-weight: bold;
    font-size: 20px;
    transition:.5s all ease;
}
.header_nav li span{
    float: left;
    color: #fff;
    font-size: 100%;
}
.header_nav li a:hover{
    color: #8ea0c1;
}
.nav_icon{
    width: 5%;
}
.nav_icon img{
    margin-top: 18px;
}
.banner{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    position:absolute;
    left: 0;
    top: 0;
    background: url("../images/banner.jpg");
}
.intro{
    position: absolute;
    left: 50%;
    top:50%;
    margin-top:-20%;
    margin-left:-20%;
    width: 40%;
    height: 40%;
    z-index: 2;
    color: #fff;
    text-align: center;
}
.intro_tit{
    width: 100%;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}
.intro_con{
    width: 100%;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}
.intro_more{
    display: inline-block;
    width:40%;
    margin: 20px;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition:.5s all ease;
}
.intro_more:hover{
    color: #2ac179;
    border: 2px solid #6ec17b;
}
.about{
    position: absolute;
    left: 0;
    top: 800px;
    width: 100%;
    text-align: center;
    height: 800px;
    background:#524664;
    transition: all 10s;
}
.about_head{
    margin: 20px 0;
}
.about_head h3{
    width: 10%;
    margin: 20px auto;
    font-size: 30px;
    color: #fff;
}
.about_head span{
    width: 60px;
    height: 7px;
    display: block;
    margin: 10px auto;
    background: #736588;
}
.about_grid{
    padding:0 20px;
}
.about_grid1,.about_grid2{
    width: 50%;
    height: 60%;
    text-align: left;
}
.about_grid1 h3,.about_grid2 h3{
    font-size: 18px;
    padding-left: 10px;
    margin: 20px 0;
    width: 50%;
    height: 40px;
    -webkit-border-radius:0.3em;
    line-height: 40px;
    background: #CCFF99;
}
.about_grid1 h4{
    font-size: 16px;
    padding-left: 10px;
    margin: 10px 0;
    width: 500px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    position: relative;
}
.skill{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.skill1,.skill2,.skill3,.skill4,.skill5{
    width: 100%;
    height: 20%;
}
.skill li{
    position: relative;
}
.skill1 i,.skill2 i,.skill3,i,.skill4 i,.skill5 i{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.skill1 span,.skill2 span,.skill3 span,.skill4 span,.skill5 span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.skill1 span{
    width: 0;
    background: #b7eed9;
}
.skill1 h4{
    border-left:3px solid #3498db;
    color: blue;
}
.skill2 h4{
    border-left:3px solid #db6b06;
    color: #de1d0b;
}
.skill2 span{
    width: 0;
    background: #ff9794;
}
.skill3 h4{
    border-left:3px solid #2dde1e;
    color: green;
}
.skill3 span{
    width: 0;
    background: #d2ffc7;
}
.skill4 h4{
    border-left:3px solid #de0ab7;
    color: #de0fa5;
}
.skill4 span{
    width: 0;
    background:#DE93CA ;
}
.skill5 h4{
    border-left:3px solid #8006de;
    color: #9746de;
}
.skill5 span{
    width: 0;
    background: #C7B9DE;
}
.skill div{
    position: absolute;
    left: 140px;
    padding: 10px;
    top: 0;
    z-index: 2;
    line-height: 20px;
    background: #f2f2f2;
    display: none;
    opacity: 1;
    border: 1px solid #ccc;
}
.resume{
    margin-top: 20px;
    width:100%;
    height: 100%;
    padding-top: 10px;
    background: #fff;
}
.resume p{
    margin: 10px;
    font-size: 18px;
    line-height: 20px;
}
.about_grid3{
    margin-top: 35px;
    width: 100%;
    height: 300px;
    background: #fff;
}
.opus{
    width: 100%;
    height: 800px;
    background: #8ba9a9;
    position: absolute;
    left: 0;
    top:1600px;
}
.opus h3{
    width: 12%;
    font-size: 30px;
    margin: 20px auto;
    font-weight: bold;
    color: #464646;
}
.opus_nav{
    width: 60%;
    height: 40px;
    background: #9a9a8a;
    position: relative;
    margin: 20px auto;
    cursor: pointer;
    -webkit-border-radius:0.5em;
    z-index: 9;
}
.opus_nav li{
    width: 25%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    float: left;
}
.opus_nav a{
    color: #fdfdff;
    font-size: 20px;
}
.nav_opa{
    width: 25%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    background: #6545a0;
    -webkit-border-radius:0.5em;
    z-index: -9;
}
.opus_con{
    width: 100%;
    height: 500px;
    display: none;
}
.opus_con.active{
    display: block;
}
.opus_con li{
    width: 30%;
    padding: 5px;
    margin: 20px 10px;
    height: 48%;
    float: left;
    border: 5px solid #fff;
    position: relative;
    overflow: hidden;
}
.opus_con span{
    width: 100%;
    height: 100%;
    line-height:280px;
    background: rgba(2,2,2, .4);
    position: absolute;
    left:100%;
    top: 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.opus_con img{
    width: 100%;
    height: 100%;
}
.opus_opa{
    position:absolute;
    left: 0;
    bottom:0;
    background: #000;
    width: 100%;
    height:100%;
    z-index: 99;
    opacity: 0.6;
    display: none;
}
.opus_show{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.8);
    left: 0;
    bottom:0;
    z-index:100;
    display: none;
}
.show_con1{
    width: 1000px;
    text-align: center;
    height: 600px;
    line-height: 600px;
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin-bottom: -300px;
    margin-left: -500px;
}
.show_con1 img{
    width: 100%;
    height: 100%;
}
.close{
    position: fixed;
    right: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
    color: #ff0f1d;
    font-weight: bold;
    font-size: 40px;
    z-index: 10;

}
.left,.right{
    position: fixed;
    font-size: 60px;
    font-weight: bold;
    color: #f2f2f2;
    z-index: 10;
    margin-bottom: -30px;
}
.left{
    left: 50px;
    bottom: 50%;
}
.right{
    right: 50px;
    bottom: 50%;
}
/*无缝滚动*/
.show_con1 .box{
    width: 914px;
    height: 204px;
    border: 1px solid #b9b9b9;
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -102px;
    margin-left: -457px;
    overflow: hidden;
    background: #fbf0ff;
}
.show_con1 .btn1,.show_con1 .btn2{
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    color: #fff;
    position: absolute;
    z-index: 1;
    background: rgba(70, 255, 243, 0.6);
    font-size: 18px;
}
.show_con1 .btn1{
    left: 0;
    top: 50%;
}
.show_con1 .btn2{
    right: 0;
    top: 50%;
}
.show_con1 .ul1{
    position: absolute;
    left: 0;
    top: 0;
}
.show_con1 .ul1 li{
    width: 300px;
    height: 200px;
    float: left;
    padding: 2px;
}
.show_con1 .ul1 img{
    width:100%;
    height: 100%;
}
/*照片墙*/
.ul2{
    width: 642px;
    height: 642px;
    position: absolute;
    left: 0;
    top: 0;
}
.ul2 li{
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
    border: 1px solid #000;
}
.ul2 li.active{
    border: 2px dashed red;
}
.ul2 li img{
    width: 100%;
    height: 100%;
}
.contact h3{
    margin: 10px auto;
    font-size: 30px;
    font-weight: bold;
    color: #4f5d75;
}
.footer{
    width: 100%;
    background: rgb(191, 252, 228);
    position: absolute;
    left: 0;
    top: 2400px;
}
.contact{
    width: 100%;
}
.contact h3{
    width: 8%;
    font-size: 30px;
    margin: 20px auto;
}
.contact span{
    display: block;
    width: 60px;
    margin: 5px auto;
    height: 5px;
    background: #7e94ba;
}
.contact-info {
    margin-top: 60px;
    text-align: center;
}

.contact-info input{
    width:26% ;
    height: 40px;
    line-height: 40px;
    background:#ffffff;
    border:none;
    color: #c9c9c9;
    outline: none;
    margin: 20px;
    padding: 0 5px;
}
.contact-info .msg{
    width: 87%;
    resize: none;
    padding: 5px;
    height: 200px;
}
.contact-info .submit{
    color: #fff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    background: #323b43;
    border: none;
}
.submit:hover {
    background: #bac6c6;
    color: #323b43;
}
.toTop{
    position:fixed;
    right: 30px;
    bottom: 30px;
}